<div class="card w-50 mx-auto mt-5">
    <div class="card-header text-center">
        <p><i class="fas fa-fingerprint"></i> Formulaire d'inscription<p>
    </div>
    <div class="card-body">
        {{#form}}
            <form action="{{form_action}}" method="{{form_method}}" name="myForm">
                {{#div}}
                    <div class="{{div_class}}">
                        <input class="{{input_class}}" id="{{input_id}}" name="{{input_name}}" placeholder="{{input_placeholder}}" required="{{input_required}}" {{#inputRole}}role="{{inputRole}}"{{/inputRole}} type="{{input_type}}" {{#pattern}}pattern="{{pattern}}"{{/pattern}}>
                        <label {{#labelClass}}class="{{labelClass}}"{{/labelClass}} for="{{label_for}}"><i class="{{label_i_class}}"></i> {{label_text}} {{{labelHTML}}}</label>
                        {{#aide}}
                            <div id="{{aideId}}" class="{{aideClass}}"><i class="{{aideFontawesome}}"></i> {{aideText}}</div>
                        {{/aide}}
                    </div>
                {{/div}}

                <div class="container">
                    <div class="row text-center">
                        <div class="col">
                            {{#button}}
                                <button class="{{button_class}}" type="{{button_type}}"><i class="{{button_i_class}}"></i> {{button_text}}</button>
                            {{/button}}
                        </div>
                        {{#redirections}}
                            <div class="{{divClass}}">
                                <p>{{pText}} {{#anchor}}<a href="{{HREF}}" class="{{CLASS}}">{{TEXT}} <i class="{{FONTAWESOME}}"></i></a>{{/anchor}}</p>
                            </div>
                        {{/redirections}}
                    </div>
                </div>
            </form>
        {{/form}}
    </div>
</div>

<script src="./js/inscription.js"></script>