{{#blocErreur}}
    {{>blocErreur}}
{{/blocErreur}}

<div class="col-md-8 order-md-1">
        
    <form class="needs-validation" action="{{form_action}}" method="{{form_method}}" novalidate>
        <div class="row">
            <div class="col-md-6 mb-3">
                <label for="firstName">Nom :</label>
                <input type="text" class="form-control" name="{{input_nom}}" placeholder="" value="" required>
                <div class="invalid-feedback">
                    Veiller entrer votre Nom
                </div>
            </div>

            <div class="col-md-6 mb-3">
                <label for="lastName">Prénom :</label>
                <input type="text" class="form-control" name="{{input_prenom}}" placeholder="" value="" required>
                <div class="invalid-feedback">
                    Veiller entrer votre Prénom
                </div>
            </div>
        </div>

        <div class="mb-3">
            <label for="username">Nom d'utilisateur :</label>
            <div class="input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text">ETGL-</span>
                </div>
                <input type="text" class="form-control" name="{{input_user}}" placeholder="Username" required>
                <div class="invalid-feedback" style="width: 100%;">
                    Your username is required.
                </div>
            </div>
        </div>

        <div class="mb-3">
            <label for="email">Email :</label>
            <input type="email" class="form-control" name="{{input_email}}" placeholder="you@example.com">
            <div class="invalid-feedback">
                Please enter a valid email address for shipping updates.
            </div>
        </div>

        <div class="mb-3">
            <label for="password">Mot de passe :</label>
            <input type="password" class="form-control" name="pass" placeholder="mot de passe" required>
            <div class="invalid-feedback">
                Please enter a valid password address for shipping updates.
            </div>
        </div>

        <div class="mb-3">
            <label for="password">Confirmation :</label>
            <input type="password" class="form-control" name="{{input_password}}" placeholder="mot de passe" required>
            <div class="invalid-feedback">
                Please enter a valid field address for shipping updates.
            </div>
        </div>
        <button class="btn btn-primary btn-lg btn-block" type="submit">S'incrire</button>
    </form>
</div>