<div class="container">
    <div class="card text-center">
        <div class="card-header">
            <i class="fa-solid fa-book-open"></i> Conditions d'utilisation
        </div>
        <div class="card-body">
            <h5 class="card-title">Conditions de service</h5>
            <p class="card-text">
                {{#conditions}}
                    {{{conditions}}}
                {{/conditions}}
            </p>
        </div>
        <div class="card-footer text-muted">
            Conditions actualisées le 05/03/2022
        </div>
    </div>
</div>