<div role="alert" aria-live="assertive" aria-atomic="true" class="toast bg-warning fade show mx-auto mt-3" data-bs-autohide="false">
    <div class="toast-header">
        <i class="fa-solid fa-person-digging"></i>
        <strong class="ms-1 me-auto">Développement</strong> 
        <small>En construction</small>
        <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
    </div>
    <div class="toast-body">
        Cette partie du projet est en cours de développement!
    </div>
</div>