<div role="alert" aria-live="assertive" aria-atomic="true" class="toast bg-danger fade show mx-auto mt-1" data-bs-autohide="false">
    <div class="toast-header">
        <i class="{{i_class}}"> </i>
        <strong class="me-auto"> {{strong}} </strong>
        <small> {{small}} </small>
        <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
    </div>
    <div class="toast-body">
        {{message}}
    </div>
</div>