<div role="alert" aria-live="assertive" aria-atomic="true" class="toast bg-warning fade show mx-auto mt-1" data-bs-autohide="false">
    <div class="toast-header">
        <i class="fa-solid fa-desktop"></i>
        <strong class="ms-1 me-auto">Démonstration</strong> 
        <small>Page démo</small>
        <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
    </div>
    <div class="toast-body">
        Cette partie du projet est juste visuelle! Elle ne contient pas le résultat définitif!
    </div>
</div>