
{{>Head}}

    {{>Navbar}}

    {{#blocDeveloppement}}
        {{>blocDeveloppement}}
    {{/blocDeveloppement}}

    {{#blocDemonstration}}
        {{>blocDemonstration}}
    {{/blocDemonstration}}

    {{#blocErreur}}
        {{>blocErreur}}
    {{/blocErreur}}

    {{#blocSucces}}
        {{>blocSucces}}
    {{/blocSucces}}

    {{#accueil}}
        {{>accueil}}
    {{/accueil}}

    <div class="container mt-2">

        {{#ajouterDocument}}
            {{>ajouterDocument}}
        {{/ajouterDocument}}

        {{#cgu}}
            {{>cgu}}
        {{/cgu}}

        {{#connexion}}
            {{>connexion}}
        {{/connexion}}

        {{#dashboard}}
            {{>dashboard}}
        {{/dashboard}}

        {{#erreur}}
            {{>erreur}}
        {{/erreur}}

        {{#inscription}}
            {{>inscription}}
        {{/inscription}}

        {{#souscription}}
            {{>souscription}}
        {{/souscription}}

        {{#profil}}
            {{>profil}}
        {{/profil}}

        {{#tableauDeBord}}
            {{>tableauDeBord}}
        {{/tableauDeBord}}

        {{#motDePasseOublie}}
            {{>motDePasseOublie}}
        {{/motDePasseOublie}}

        {{#ocr}}
            {{>ocr}}
        {{/ocr}}

        {{#reinitialisationMotDePasse}}
            {{>reinitialisationMotDePasse}}
        {{/reinitialisationMotDePasse}}

    </div>

{{>Footer}}
