
{{>Head}}

    {{>Navbar}}

    {{#accueil}}
        {{>accueil}}
    {{/accueil}}

    <div class="container mt-2">

        {{#cgu}}
            {{>cgu}}
        {{/cgu}}

        {{#connexion}}
            {{>connexion}}
        {{/connexion}}

        {{#dashboard}}
            {{>dashboard}}
        {{/dashboard}}

        {{#erreur}}
            {{>erreur}}
        {{/erreur}}

        {{#inscription}}
            {{>inscription}}
        {{/inscription}}

        {{#profil}}
            {{>profil}}
        {{/profil}}

        {{#tableauDeBord}}
            {{>tableauDeBord}}
        {{/tableauDeBord}}

    </div>

{{>Footer}}
